<h1>Invoice Calculator</h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Price (incl. VAT)</th>
      <th>Price (excl. VAT)</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr id="invoice-lines" *ngFor="let line of invoice.invoiceLines">
      <td>{{line.product}}</td>
      <td>{{line.priceInclusiveVat}}.00</td>
      <td>{{line.priceExclusiveVat}}.00</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><b>Total</b></td>
      <td id="totalPriceInclusiveVat">{{invoice.totalPriceInclusiveVat}}.00</td>
      <td id="totalPriceExclusiveVat">{{invoice.totalPriceExclusiveVat}}.00</td>
    </tr>
    <tr>
      <td>
        <input [(ngModel)]="product" id="product-input" type="text" />
        <select id="vat-category-input">
          <option>Food</option>
          <option>Drinks</option>
        </select>
      </td>
      <td>
        <input [(ngModel)]="priceInclusiveVat" id="priceInclusiveVat-input" type="number" />
      </td>
      <td>&nbsp;</td>
      <td>
        <button id="add-button" (click)="addInvoice()" [disabled]="product===''">Add</button>
      </td>
    </tr>
  </tbody>
</table>